:root {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  --primary-color: #DE6B28;
  --secondary-color: #03888D;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}


body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}


.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}


.display-1 {
  font-family: var(--font-heading);
  font-weight: 900;
}


.btn-dark {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-dark:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-light {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #ffffff;
}

.btn-light:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #ffffff;
}


.navbar-nav .nav-item .nav-link {
  color: var(--light-color);
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--secondary-color) !important;
}

.navbar-nav .nav-item .nav-link.active {
  color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}


html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}



#hero {
  background-color: black;
  background-image: url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero .d-flex {
  height: 70vh;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}